@page 
@model EditModel
@{
    ViewData["Title"] = "Edit"; 

}


<h2> Edit customer - @Model</h2>

<form method="Post">
    <div asp-validation-summary ="All"></div>
    <input asp-for="Customer.Id" type = "hidden" /> 
    <div>
        <label asp-for="Customer.firstName"></label>
        <div>
            <input asp-for="Customer.firstName"/> 
            <span asp-validation-for="Customer.firstName"></span>
        </div> 
    </div>

    <div>
        <label asp-for="Customer.lastName"></label>
        <div>
            <input asp-for="Customer.lastName" />
            <span asp-validation-for="Customer.lastName"></span>
        </div>
    </div>

    <div>
        <label asp-for="Customer.Email"></label>
        <div>
            <input asp-for="Customer.Email" />
            <span asp-validation-for="Customer.Email"></span>
        </div>
    </div>

    <div>
        <button type="submit"> Save</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
